/* helping adds*/
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
}

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
}

.vfix-before:before {
  content: '';
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
}

.zHiddenBlock {
  position: absolute;
  left: -99999em;
  top: -99999em;
}

/* /helping adds*/
/*
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
/* base styles*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: #fff;
  color: #3c3f40;
  position: relative;
  max-width: 2048px;
  margin: 0 auto;
  height: auto !important;
  min-width: 1024px;
}

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
}

/* /base styles */
/* base typo*/
.ctext h1, .ctext h2, .ctext h3, .ctext h4, .ctext h5, .mainheading, .subheading, .thirdheading, .fourheading, .fiveheading {
  font-weight: normal;
  margin-bottom: 1em;
}

a {
  color: #4a7f95;
  border: 0;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.ctext p {
  margin: 0 0 10px 0;
}

.ctext ul {
  margin: 10px 20px;
}

.ctext p:last-child, .ctext ul:last-child {
  margin-bottom: 0;
}

.ctext table {
  border-collapse: collapse;
}

.ctext table tr td, .ctext table {
  border: 1px solid;
}

/* /base typo*/
/* wraps styling*/
.mbox {
  min-width: 1024px;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.mbox:after, .cfix:after {
  content: "";
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block;
}

/* /wraps styling*/
/* button styles */
.button {
  display: inline-block;
  width: 100%;
  min-width: 230px;
  box-sizing: border-box;
  padding: 0 5px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  background-color: #37728b;
  height: 40px;
  line-height: 40px;
  transition: color 300ms ease, background-color 300ms ease;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  -moz-transition: color 300ms ease, background-color 300ms ease;
  -o-transition: color 300ms ease, background-color 300ms ease;
  -ms-transition: color 300ms ease, background-color 300ms ease;
}

.button:hover {
  text-decoration: none;
  background-color: #fff;
  color: #37728b;
}

.button.slider-button {
  min-width: 160px;
  height: 53px;
  line-height: 49px;
  border: 2px solid #37728b;
  color: #37728b;
  border-radius: 25px;
  background-color: transparent;
}

.button.slider-button:hover {
  background-color: #37728b;
  color: #fff;
}

/* /button styles */
/*styling checkbox*/
.jq-checkbox {
  background: #f8f8f8;
  overflow: inherit !important;
}

.jq-checkbox.checked {
  border: 1px solid #6fa0b4;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 14px;
  height: 14px;
  margin: 0;
  box-shadow: none;
  background: #b1def0;
  background: linear-gradient(to bottom, #b1def0 0%, #6fa0b4 100%);
  position: relative;
}

.jq-checkbox.checked .jq-checkbox__div:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 14px;
  background: url("../images/checked_img.svg") center center no-repeat;
  top: -3px;
  left: 1px;
}

.title {
  font-size: 36px;
  color: #38393a;
  font-family: "PT Sans",sans-serif;
  padding-bottom: 25px;
}

.fancybox-wrap .fancybox-skin {
  background: #fff;
  border-radius: 0;
}

.fancybox-wrap .fancybox-close {
  top: 5px;
  right: 5px;
  width: 28px;
  height: 28px;
  background-image: none;
}

.fancybox-wrap .fancybox-close:before, .fancybox-wrap .fancybox-close:after {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  content: "";
  height: 1px;
  width: 28px;
  background-color: #A9ACAD;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all ease 0.1s;
}

.fancybox-wrap .fancybox-close:after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.fancybox-wrap .fancybox-close:hover:before, .fancybox-wrap .fancybox-close:hover:after {
  background-color: #e3e6e7;
}

.breadcrumb {
  padding: 13px 10px 14px 10px;
}

.breadcrumb li {
  float: left;
  padding-right: 18px;
  background: url("../images/breadcramps.png") right center no-repeat;
  margin-right: 10px;
  color: #aec0ca;
  font-family: "PT Sans",sans-serif;
  font-size: 12px;
}

.breadcrumb li:first-child {
  text-transform: uppercase;
  position: relative;
  padding-left: 22px;
}

.breadcrumb li:first-child:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 100%;
  background: url(../images/breadcramps_first.png) center center no-repeat;
  left: 0;
  top: 0;
  bottom: 0;
}

.breadcrumb li:last-child {
  background: none;
}

.breadcrumb li a {
  font-family: "PT Sans",sans-serif;
  font-size: 12px;
  color: #aec0ca;
}

.breadcrumb li a:hover {
  text-decoration: none;
}

.breadcrumb:after {
  display: block;
  clear: both;
  content: "";
}

.seo_text {
  font-size: 13px;
  color: #7b7b7b;
  line-height: 21px;
}

.seo_text p {
  margin-bottom: 20px;
}

.seo_text h4 {
  color: #38393a;
  font-family: "PT Sans",sans-serif;
  font-size: 30px;
  padding-bottom: 30px;
}

.seo_text h5 {
  padding-top: 17px;
  font-weight: bold;
  padding-bottom: 13px;
  font-size: 14px;
}

.seo_text li {
  position: relative;
  margin-left: 40px;
  padding-bottom: 10px;
  line-height: 19px;
}

.seo_text li:after {
  content: "";
  position: absolute;
  top: 8px;
  left: -16px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #6eabc5;
}
