/* helping adds*/
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
}

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
}

.vfix-before:before {
  content: '';
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
}

.zHiddenBlock {
  position: absolute;
  left: -99999em;
  top: -99999em;
}

/* /helping adds*/
/*
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
/* base styles*/
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: #fff;
  color: #3c3f40;
  position: relative;
  max-width: 2048px;
  margin: 0 auto;
  height: auto !important;
}

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
}

/* /base styles */
/* base typo*/
.ctext h1, .ctext h2, .ctext h3, .ctext h4, .ctext h5, .mainheading, .subheading, .thirdheading, .fourheading, .fiveheading {
  font-weight: normal;
  margin-bottom: 1em;
}

a {
  color: #4a7f95;
  border: 0;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.ctext p {
  margin: 0 0 10px 0;
}

.ctext ul {
  margin: 10px 20px;
}

.ctext p:last-child, .ctext ul:last-child {
  margin-bottom: 0;
}

.ctext table {
  border-collapse: collapse;
}

.ctext table tr td, .ctext table {
  border: 1px solid;
}

/* /base typo*/
/* wraps styling*/
.mbox {
  min-width: 960px;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.mbox:after, .cfix:after {
  content: "";
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block;
}

/* /wraps styling*/
